/* App */

.app {
  text-align: center;
}

/* Top Level */

.nav {
  background-color: rgb(141, 162, 180); 
}

main {
  display: flex;
}

.items {
  flex: 2;
  background-color: rgb(151, 221, 209);
}

.editor {
  flex: 1;
  background-color: rgb(245, 221, 221);
}

/* Items */

.item {
  margin: 10px;
  display: flex;
  /* justify-content: space-between; */
}

.item > div {
  border: #282c34 1px solid;
  flex: 1;
}

.item .item__id {
  flex: 0.5;
}

/* .ItemHeader .ItemSeverity {
  flex: 0.5;
} */

.Item {
  background-color: rgb(127, 255, 191);
  margin: 10px;
  display: flex;
}

.Item > div {
  border: #282c34 1px solid;
  flex: 1;
}

/* ItemID
ItemTitle
ItemSeverity
ItemCreated
ItemStatus
ItemUpdated */

/* .Item .ItemID {
  flex: 0.5;
} */
/* 
.Item .ItemSeverity {
  flex: 0.5;
} */

/* .ItemSeverity {
  flex: 0.5;
} */

/* Item Fields */

